.insurance {
    background: -webkit-linear-gradient(left, #35af31, #00fff2);
    margin-top: 3%;
    padding: 3%;
}

img {
    margin-bottom: 30px;
}

.insurance-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}


.insurance-right {
    background: #f8f9fa;
    border-top-left-radius: 15% 50%;
    border-bottom-left-radius: 15% 50%;
}


.insurance-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.insurance .insurance-form {
    padding: 10%;
    margin-top: 10%;
}

.btninsurance {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
    height: 40px;
}

.insurance-heading {
    text-align: center;
    margin-top: 6%;
    margin-bottom: -15%;
    color: #495057;
}




.modal h1 {
    font-size: 30px;
    padding-top: 30px;
    font-weight: 600;
    text-align: center;
    color: #495057;
}

.para {
    padding: -10px;
    font-weight: 600;
    text-align: center;
    color: dimgrey;
}

p {
    text-align: center;
    margin: 8px;
}



h4 {
    text-align: center;
    margin: 8px;
}





* {
    box-sizing: border-box
}

button {
    background-color: rgb(76, 135, 175);
    color: white;
    padding: 8px 10px;
    margin: 18px 0;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    float: right;
}

button:hover {
    opacity: 1;
}

.cancelbtn {
    padding: 7px 10px;
    background-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}


.cancelbtn,
.signupbtn {

    width: 25%;



}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #161616;
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #ffffff;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}


.info {
    width: 16px;
    height: 16px;
    font-size: 13px;
    background-color: rgb(167, 167, 167);
    margin-top: -28px;
    float: right;
    border-radius: 10px;
    margin-right: -22px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    z-index: 100;
}


.time {
    background-color: transparent;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}


.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    visibility: hidden;
}